{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7cc1d6c564.js" crossorigin="anonymous"></script>
    <script src="{% static 'core/javascript/indexactions.js'%}" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">

    <title>Escuela infantil Ibis</title>
</head>
<body>
    {% include 'core/html/bases/header.html' %}
    
   
    <main>
        <section id="events">
            <h2>Próximos eventos</h2>
            <div id="alertEvent" class="alert" style="display:none"><p>¡Todavía no hay nada por aquí. Revíselo en otro momento!</p></div>
            <div id="event-container"></div>
            <a id="see-more__events" class="see-more"><span>Cargar más eventos</span></a>
        </section>
        <section id="latest-news">
            <h2>Últimas noticias</h2>
            {%if news%}
        <div id="news-container">
            {% for new in news%}
                
                <div>
                    <div class="new-title">
                        <h3>{{new.title}}</h3>                    
                    </div>
                    <div class="new-description">
                    
                        <div class="description">
                             <a href="{% url 'details' new.id%}" class="new-description-text">{{new.subtitle}}</a>
                        </div>
                    
                   
                        <div class="wrapperimg">
                            <img class="new-img" src="/media/{{new.media1}}">
                        </div>
                    
                    </div>
                </div>
                
            {% endfor %}
        </div>
        <a id="see-more__news" href="{% url 'news' %}" class="see-more"><span>Cargar más noticias</span></a>
            {% else %}
            <div id="alertNews" class="alert"><p>¡Todavía no hay nada por aquí. Revíselo en otro momento!</p></div>
            {% endif %}

           
        </section>
    </main>
    
    {% include 'core/html/bases/footer.html' %}
</body>
</html>