{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7cc1d6c564.js" crossorigin="anonymous"></script>
    <script src="{% static 'users/javascript/passwordactions.js'%}" crossorigin="anonymous"></script>
    <script src="{% static 'users/javascript/teacherpanelactions.js'%}" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'users/css/teacherpanel.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/panelsmodals.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/footer.css' %}">

    <title>Panel de profesorado-Escuela infantil Ibis</title>
</head>
<body>
    {% include 'portal/html/bases/header.html' %}    
    <main>
            <div id="page-top">
                  <h1>{{user.first_name}} {{user.last_name}}<br></h1>
                  <img class="teacher-img" src="/media/{{teacher.image}}">
            </div>
            {% comment %} <h3></h3> {% endcomment %}
            <a id="close-session" href={% url 'logout' %}><span><i class="fas fa-door-open"></i></span>Cerrar sesión</a>
            <h2>Curso a cargo</h2>
            <section id="course">
            <h3>Tutor del ciclo : {{cicle.classroom}}</h3>
            {% if not alumns %}
                <div class="alert"><p>¡Todavía no hay nada por aquí. Revíselo en otro momento!</p></div>
            {% else %}
                {% for alumn in alumns %}
                    <div id="alumncontainer">
                        <img class="child-img" src="/media/{{alumn.image}}" alt="alumn-image">
                        <h4>{{child.name}} {{child.last_name}}</h4>
                        <p><span class="title">Fecha de nacimiento: </span><span>{{child.birth_date}}</span>
                    </div>
                {% endfor %}
            {% endif %}
            </section>
            <h2>Datos personales</h2>
             <section id="personal-data">
             {{formpersonaldata.errors}}

                <button id="edit-personal-data" onclick="enabledataedition()"><i class="fas fa-user-edit"></i></button>
                <button id="editor-closer" onclick="disabledataedition()" style="display:none"><i class="fas fa-times"></i></button>

             <form id="personal-data-form" method="POST" action="{% url 'changeteacherdata'%}">
             {% csrf_token %}
             
             <div id="form-inputs">
             <p>
                {{formpersonaldata.birthdate.label_tag}}
                {{formpersonaldata.birthdate}}
             </p>       
             <p>
                {{formpersonaldata.viatype.label_tag}}
                {{formpersonaldata.viatype}}
             </p>
             <p>
                {{formpersonaldata.vianame.label_tag}}
                {{formpersonaldata.vianame}}
             </p>
             <p>
                {{formpersonaldata.vianumber.label_tag}}
                {{formpersonaldata.vianumber}}
             </p>
             <p>
                {{formpersonaldata.floor.label_tag}}
                {{formpersonaldata.floor}}
             </p>
             <p>
                {{formpersonaldata.letter.label_tag}}
                {{formpersonaldata.letter}}
             </p>
             <p>
                {{formpersonaldata.cp.label_tag}}<br>
                {{formpersonaldata.cp}}
             </p>
             <p>
                {{formpersonaldata.city.label_tag}}
                {{formpersonaldata.city}}
             </p>
             </div>
             <button id="clickerformdata" type="submit" class="clicker" style="display:none"><span>Cambiar datos</span></button>
            </form>
             </section>

            <h2>Datos de la cuenta</h2>
            <section id="account-data">
            {% comment %} 
            En un futuro, esto se podría implantar como un formulario para wue los usuarios si que puediesen cambiar 
            sus credenciales de acceso
            <form method="post" action="">
            {% csrf_token %} {% endcomment %}
            <div id="account-data-form">
                <p>
                    <label for="username">Nombre usuario:</label>
                    <input type="text" id="username" disabled value="{{user.username}}">
                <p>
            {% comment %} </form> {% endcomment %}
            </div>
            <button id="passwordchanger" class="clicker"><span>Cambiar Contraseña</span></button>
            </section> 
            

            <div id="passwordModal" class="modal" display="none">
            <div class="modal-content">
                    <button id="close-modal" class="close"><i id="icon-edit" class="fas fa-times"></i></button>
                    <form method="post" action="{%url 'changepasswordteacher'%}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="clicker"><span>Cambiar contraseña</span></button>
                    
                </form>
                </div>

            </div> 
            </div>
  
    </main>

    {% include 'portal/html/bases/footer.html' %}
    </body>