h1{
    font-family: $fuente-titulos;
    font-size:9em;
    margin-block-start: 0.5em;
    text-align: center;
}

#login-zone{
    display:flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-left:10%;
    #login-zone__media{
        width:50%;
        height: 800px;
        min-height:50vh;
        z-index:0;
        #video{
            height: 850px;
        }
    }
    #login-zone__form{
        border:2px solid $negro;
        background-color: $blanco;
        border-radius: 80px;
        font-size: 2em;
        width:50%;
        margin-top:-2%;
        margin-right: -2%;
        min-height:60vw;
        z-index:1;
        form{
            margin-top:25%;
            margin-left: 10%;
            p {
                margin-top: 5%;
                font-weight: 900;
            }
            p:nth-child(3){
                margin-top:15%;
            }
            input{
                background-color: rgb(255,0,0,0);
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 3px solid black;
                width: 90%;
                outline: none;
            }
        }
    
    }
}

#see_pass{
    @include cleanButtonStyle();
    margin-left:-7%;
}

#alert{   
    background-color: $color-general;
    border: 3px solid $negro;
    border-radius: 10px;
    display:block;
    font-weight: 800;
    font-size:0.5em;
    height:70px;margin: auto;
    margin-bottom:5%;
    margin-top:10%;
    text-align: center;
    width: 85.5%;
    p{
        padding-left: 2%;
        padding-right: 2%;
    }
}


/*MEDIA QUERIES*/

@media screen and (max-width:1024px){
    h1{
        font-size: 5.5em;
    }
    #login-zone{
        flex-direction: column-reverse;
        justify-content: center;
        margin:0;
        margin-bottom: 2%;
    }
    #login-zone__form{
        width: 90%;
        margin-top: -70%;
        margin-right: auto;
        margin-left: auto;
    }
    
    #video{
        width: 100vw;
        object-fit: cover;
    }
    .clicker{
        @include buttonmobile();
    }
     /* Elemento de color */
     .clicker:before {
        @include buttonBeforeMobile();
    
      }
    .clicker span {
        @include buttonSpanMobile()
      }
      
    .clicker:hover:before {
        width: 0%;
        background: $color-fondo;
      }
}

@media screen and (max-width:480px){
    h1{
        font-size: 6em;
        margin-bottom: 2%;
    }
    #login-zone{
        display:flex;
        flex-direction: column-reverse; 
    }
    #login-zone__media{

        width:100%;
        min-height:70vw;
    }
    #video{
        width:100%;
        object-fit: inherit;
    }
    
    #login-zone__form{
        width: 90%;
        margin-top: -117%;
        margin-right: auto;
        margin-left: auto;
    }
    
    #login-zone__form form{
        margin-left: 10%;
    }
    #alert{   
        height:80px;
        margin-bottom: 10%;
    }
}