@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color:#FAA81D;
    --details-color:#FAB041;
    --background-color:#F9F9F8;
    --black:#000000;
    --white:#FFFFFF;
    --transparent:rgb(255,0,0,0)
}
/* Evito desbordamientos */
*{
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color:black;
}
body{
    background-color: var(--background-color);
    font-family: 'Montserrat',serif,Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}


main{
    margin-bottom: 5%;
}
/*CONTENIDO*/
main p{
    text-align: center;
    padding: 1% 7%;
}

#about-school p,#about-teaching p{
    text-align: left;
    margin:0;
}
.firsparagraph{
    padding-right: 7%;
    padding-left: 7%;
    display: inline-block;
    position: absolute;
    font-size: 1.2em;
    font-weight: 500;
}

#about-school p::first-letter, #about-teaching p::first-letter{
    font-size: 2em;
    font-weight: 500;
}
h1{
    font-family: 'Abril Fatface',serif,Arial, Helvetica, sans-serif;
    font-size:9em;
    margin-block-start: 0.5em;
    text-align: center;
}

h2{
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: 'Abril Fatface',serif,Arial, Helvetica, sans-serif;
    font-size: 5em;
    letter-spacing: 7px;
    text-align: center;
    padding: 2%;
    /* margin-bottom: 0; */
}

.ppalimg{
    width: 40%;
    display: inline-block;
    margin-top: -65px;
}
.ppalimg img{
    width: 100%;
}
.team-name{
    font-size:1.5em;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top:0;
}

.team-title{
    font-size:0.9em;
    font-style: italic;
    margin-top: 0px;

}

#about-team__people{
    margin-left: 10%;
    margin-right:10% ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; 
}
.about-team__people--container{
    text-align: center;
}
.teacher-image{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border:3px solid var(--black);
}


.video{
    width: 1000px;
    margin:auto
}

.video video, .video img{
    width:100%
}


/*MEDIA QUERIES*/

@media screen and (max-width:1024px){
    /*Contenido*/
    h1{
        font-size:5.5em;
    }
    .teacher-image{
        width: 180px;
        height: 180px;
    }
    main p{
        text-align: left;
        padding: 1% 7%;
    }

    .video{
        width: 100%;
        padding: 1% 7%;
    }

    

    .firsparagraph{
        position:initial;
    }
    .ppalimg{
        display: block;
        width: 100%;
        /* margin-top: -60px; */
    }
    #about-team__people{
        grid-column-gap:20px;
    }
    .team-name{
        font-size:1em;
        font-weight: 600;
        margin-bottom: 0px;
        margin-top:0;
        text-align: center;
    }
    
    .team-title{
        font-size:0.8em;
        font-style: italic;
        margin-top: 0px;
        text-align: center;
    
    }
   
}
@media screen and (max-width:600px){
    .teacher-image{
        width: 140px;
        height: 140px;
    }
    
}
@media screen and (max-width:480px){
    
    /*Cuerpo de la página*/
    h1{
        font-size: 5em;
        margin-bottom:0;
        margin-top: 0;
    }
    h2{
        font-size: 3em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 4%;
    }
    /* .video{
        padding: 0;
    } */

    .firsparagraph{
        position:initial;
    }
    .ppalimg{
        display: block;
        width: 100%;
        margin-top: -24px;
    }
    #about-team__people{
        margin-left: 5%;
        margin-right:5% ;
        
    }
    .team-name{
        font-size: 0.84em;
        font-weight: 600;
        margin-bottom: 0px;
        margin-top: 0;
        text-align: center;
    }
    .about-team__people--containerpicture{
        width: 30vw;
    }
    .team-title{
        font-size: 0.7em;
        text-align: center;
    }
    .teacher-image{
        width: 100px;
        height: 100px;
    }

}
