@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Evito desbordamientos */
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:black;
}
body{
    background-color: #F9F9F8;
    font-family: 'Montserrat',serif,Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

#min-menu-navegacion{
    display: none;
}
/*PARTE SUPERIOR*/
#zona-logo{
    background-color: #FAA81D;
    width: 100%;
    height: 10%;
    min-height: 10vh;
}
#zona-logo a{
    display: inherit;
    margin-top:0;
}

#logo{
    width: 20%;
    margin: auto auto auto 40%;  
}

#max-menu-navegacion{
    background-color:#FAB041;
    min-height: 9vh;
    border-top:3px solid black;
    border-bottom:3px solid black;
    font-family: 'montserrat',serif,Arial, Helvetica, sans-serif;
    font-weight: 800; 
}


#max-navegation-pages {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



#max-navegation-pages li i{
    font-size:1.75em;
    margin-right: 2%;
}

#searchbar{
    height: 100vh;
    background-color: #F9F9F8;
    opacity: 95%;
    position: absolute;
    width: 100%;
    z-index: 3;
}

#searchbarcontainer{
    display: block;
    position: relative;
}
#search{
    height: 60px;
    border:0;
    padding: 5px 20px 10px 54px;
    width: 100%;
    border-bottom: 3px solid black;
    font-size: 250%;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
}

#searchbar i{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-top:-50px;
}


@media screen and (max-width:1024px){
    #zona-logo{
        background-color: #F9F9F8;
    }
    #max-menu-navegacion{
        display: none;
    }

    #logo{
        width: 20%;
    }
    #min-menu-navegacion{
        display: inline-block;
        text-align: end;
        min-height: fit-content;
    }
    #min-menu-navegacion_icon__container{
        background-color: #FAA81D;
        border-radius: 50%;
        width:50px;
        height: 50px;
        margin-left: 80vw;
        text-align: center;
        margin-top:0px;
    }
    #min-menu-navegacion_icon__link{
        font-size: 1.5em;
        margin-top: 25%;
        appearance: unset;
        background-color: rgb(255,0,0,0);
        color:#F9F9F8;
        border: 0px;
    }

   
    #min_menu{
        width: 90vw;
        height: 70vh; 
        border:2px solid black;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #FAA81D;
        margin-left: 10%;
        margin-top:3.5%;
        opacity: 95%;
        position: absolute;
        z-index: 2;
    }

    
    #navegation-pages_min{
        font-weight: 800;
        margin-top: 20%;
        font-size: 2em;
        display: grid;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        grid-row-gap: 28px;
        text-align: center;
    }
}
@media screen and (max-width:840px){
    #max-navegation-pages li i{
        font-size:1em;
        margin-right: 0%;
    }
}
@media screen and (max-width:480px){
    /*PARTE SUPERIOR*/
    #zona-logo{
        background-color: #F9F9F8;
    }
    #max-menu-navegacion{
        display: none;
    }

    #logo{
        width: 20%;
    }
    #min-menu-navegacion{
        display: inline-block;
        text-align: end;
        min-height: fit-content;
    }
    #min-menu-navegacion_icon__container{
        background-color: #FAA81D;
        border-radius: 50%;
        width:50px;
        height: 50px;
        margin-left: 80vw;
        text-align: center;
        margin-top:0px;
    }
    #min-menu-navegacion_icon__link{
        font-size: 1.5em;
        margin-top: 25%;
        appearance: unset;
        background-color: rgb(255,0,0,0);
        color:#F9F9F8;
        border: 0px;
    }

   
    #min_menu{
        width: 90vw;
        height: 70vh; 
        border:2px solid black;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #FAA81D;
        margin-left: 10%;
        margin-top:3.5%;
        opacity: 95%;
        position: absolute;
        z-index: 2;
    }

    
    #navegation-pages_min{
        font-weight: 800;
        margin-top: 20%;
        font-size: 2em;
        display: grid;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        grid-row-gap: 28px;
        text-align: center;
    }
}