*{
    box-sizing: border-box;
}

/*CONTENIDO*/

h1{
    font-family: 'Abril Fatface',serif,Arial, Helvetica, sans-serif;
    font-size:6em;
    margin-block-start: 0.5em;
    text-align: center;
}

h2{
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}
#aclaration{
    text-align: center;
    font-style: italic;
    font-weight: 500;
}

form{
    margin-top:50px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 7%;
    
}

label{
    font-size:2em;
    font-weight: 900;
}

input{
    background-color: rgb(255,0,0,0);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid black;
    width: 90%;
    outline: none;
    font-size:100%;
}

form button{
    background-color: #FAA81D;
        border: 3px solid black;
        border-radius: 10px;
        display: inline-block;
        font-weight: 800;
        margin: auto auto;
        margin-top: 2%;
        padding: 1%;
}

@media screen and (max-width:1024px){
    h1{
        font-size:5em;
    }

     h2,#aclaration{
        padding-left:40px ;
        padding-right: 40px;
    } 
    label{
        font-size:1.5em;
    }
}
@media screen and (max-width:480px){
    h1{
        font-size:4em;
        padding-left:60px ;
        padding-right: 60px;
    }
    
}