*{
    box-sizing: border-box;
}
main{
    margin-bottom: 5%;
}
/*CONTENIDO*/

h1{
    font-family: 'Abril Fatface',serif,Arial, Helvetica, sans-serif;
    font-size:9em;
    margin-block-start: 0.5em;
    text-align: center;
}
#formcontainer{
    border:3px solid black;
    border-radius: 10px;
    width: 90%;
    margin:auto;
}
form{
    margin:5%;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "a b"
    "c d"
    "c d"
    "f f"
    "e e";
}

#codeandaccount{
    grid-area: a;
}

#account{
    margin-top: 94.7px;
}

#personal{
    grid-area:b;
}
#contact{
    grid-area: c;
}
#image{
    grid-area: d;
}
#termsandconditions{
    grid-area: f;
}

fieldset{
    border:0;
}
.smaller{
    width: 45%;
    margin-right: 0;
    display: inline-block;
}


select{
    width: 90%;
    border:3px solid black;
    border-radius: 10px;
    font-family: 'montserrat',serif,Arial, Helvetica, sans-serif;
    height: 30px;
}
legend{
    border:3px solid black;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    font-family: 'Abril Fatface',serif,Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 2%;
    color: white;
    width: 100%;
    background-color: #FAA81D;
}
#whattodo,#aclaration{
    font-weight: 700;
}
input{
    background-color: rgb(255,0,0,0);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid black;
    width: 90%;
    outline: none;
}
input[type="file"]{
    border:initial;
}
input[type="checkbox"],input[type="radio"]{
    width: initial;
}
input:disabled{
    background-color: rgb(235, 235, 235);
}

#id_comunications{
    list-style-type: none;
}

#id_comunications li{
    display: inline-block;
}
#see_pass{
    /*Limpieza de estilos por defecto de un botón*/
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    margin-left:-7%;
}
.clicker {
    position: relative;
    transition: all 0.2s ease;
    border: none;
    background-color: #F9F9F8;
    margin-left:auto;
    margin-top:2%;
    grid-area:e;
  }
  /* Elemento de color */
.clicker:before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    border-radius: 10px;
    background: #FAA81D;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }

.clicker span {
    position: relative;
    font-size: 16px;
    font-weight: 900;
  }
  
.clicker:hover:before {
    width: 100%;
    background: #FAA81D;
}

@media screen and (max-width:1024px){
    h1{
        font-size: 5.5em;
    }
    #formcontainer{
        border:0px;
        border-radius: 10px;
        width: 90%;
        margin:auto;
    }
    form{
        display: initial;
    }


    #account{
        margin-top:initial;
    }
    .clicker{
        background-color: #FAA81D;
        border: 3px solid black;
        border-radius: 15px;
        display: inline-block;
        font-weight: 800;
        margin-left: 30%;
        margin-top: 2%;
        padding: 1%;
    }
      /* Elemento de color */
    .clicker:before {
        display: none;

      }
    .clicker span {
        position: relative;
        font-size: 16px;
        font-weight: 900;
      }
      
    .clicker:hover:before {
        width: 0%;
        background: #F9F9F8;
      }
}

@media screen and (max-width:480px){
    h1{
        font-size: 5em;
    }
    
}