{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7cc1d6c564.js" crossorigin="anonymous"></script>
    <script src="{% static 'news/javascript/newsactions.js'%}" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'news/css/news.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">

    <title>Escuela infantil Ibis - Noticias</title>
</head>
<body>
    {% include 'core/html/bases/header.html' %}
    <main>
            <h1>Últimas noticias</h1>
            <div id="alert" class="alert" style="display:none"><p>¡Todavía no hay nada por aquí. Revíselo en otro momento!</p></div>
            <div id="news-container"></div>
        <a id="charge-news" class="see-more" onclick="charge()"><span>Cargar más noticias</span></a>
        
    </main>
    {% include 'core/html/bases/footer.html' %}
</body>
</html>