{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7cc1d6c564.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'portal/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/footer.css' %}">
    {% comment %} Scrits referentes a la carga de eventos y de noticias {% endcomment %}
    {% comment %} <script src="{% static 'portal/javascript/newsactions.js'%}" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{% static 'portal/javascript/indexactions.js'%}" crossorigin="anonymous"></script>

    <title>Escuela infantil Ibis</title>
</head>
<body>
    {% include 'portal/html/bases/header.html' %}
    
   
    <main>
        <section id="events">
            <h2>Próximos eventos</h2>
            <div id="alertEvent" class="alert" style="display:none"><p>¡Todavía no hay nada por aquí. Revíselo en otro momento!</p></div>
            <div id="event-container"></div>
            <button id="charge-events" class="see-more" onclick="chargeEvents()"><span>Cargar más eventos</span></button>
        </section>
        
        <section id="latest-news">
            <h2>Últimas noticias</h2>
            <div id="alertNews" class="alert" style="display:none"><p>¡Todavía no hay nada por aquí. Revíselo en otro momento!</p></div>
            <div id="news-container"></div>
        <button id="charge-news" class="see-more" onclick="chargeNews()"><span>Cargar más noticias</span></button>           
        </section>
    </main>
    
    {% include 'portal/html/bases/footer.html' %}
</body>
</html>