{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7cc1d6c564.js" crossorigin="anonymous"></script>
   <script src="{% static 'portal/javascript/servicesactions.js'%}" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="{% static 'portal/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/services.css' %}">

    <title>Escuela infantil Ibis - Servicios </title>
</head>
<body>
    {% include 'portal/html/bases/header.html' %}
    <main>
        <h1>Servicios</h1>
        <section id="school-times">
            <h2>Horarios</h2>
           
            <select id="school-times__selector" name="school-times__selector" class="selector">
                <option value="0">Selecciona un curso:</option>
            </select>
            <div id="alertTimetables" class="alert" style="display:none"><p>¡Todavía no hay nada por aquí. Revíselo en otro momento!</p></div>
            <div id="school-times__result"></div>
        </section>
        <section id="school-menus">
            <h2>Comedor</h2>
            <div id="alertMenus" class="alert" style="display:none"><p>¡Todavía no hay nada por aquí. Revíselo en otro momento!</p></div>

            <select id="school-menus__selector"  class="selector">
                <option value="0">Selecciona la edad:</option>
            </select>
            <div id="school-menus__result"></div>
           
        </section>
        {% comment %} <section id="school-resources">
            <h2>Recursos</h2>
            <div id="alertResources" class="alert" style="display:none"><p>¡Todavía no hay nada por aquí. Revíselo en otro momento!</p></div>

        </section> {% endcomment %}
        
    </main>
    {% include 'portal/html/bases/footer.html' %}
</body>
</html>