
/* Evito desbordamientos */
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:black;
}
body{
    background-color: #F9F9F8;
    font-family: 'Montserrat',serif,Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    main{
        margin-bottom: 5%;
    }
}

/*Estilos para los botones*/
.clicker {
    position: relative;
    transition: all 0.2s ease;
    border: none;
    background-color: #F9F9F8;
    margin-left:30%;
    margin-top:2%;
    span {
        position: relative;
        font-size: 16px;
        font-weight: 900;
      }

  }
  /* Elemento de color */
.clicker:before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    border-radius: 10px;
    background: #FAA81D;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  
.clicker:hover:before {
    width: 100%;
    background: #FAA81D;
}
