@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// fuentes que se van a utilizar
$fuente-titulos:'Abril Fatface',serif,Arial, Helvetica, sans-serif;
$fuente-general:'Montserrat',serif,Arial, Helvetica, sans-serif;

$color-general:#FAA81D;
$color-detalles:#FAB041;
$color-fondo:#F9F9F8;
$blanco:#ffffff;
$negro:#000000;