{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7cc1d6c564.js" crossorigin="anonymous"></script>
    <script src="{% static 'users/javascript/teacherpanelactions.js'%}" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'portal/css/footer.css' %}">   
    <link rel="stylesheet" href="{% static 'users/css/changepassword.css' %}">   
    <title>Cambio de contraseña-Escuela infantil Ibis</title>
</head>
<body>
    {% include 'portal/html/bases/header.html' %}
        <h1>Formulario de cambio de contraseña</h1>
        <h2>Te damos la bienvenida a la plataforma de nuestra escuela.</h2>
        <p id="aclaration">Al ser la primera vez que inicias sesión en la plataforma es necesario que modifiques tu contraseña por seguridad</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cambiar</button>
        </form>
    {% include 'portal/html/bases/footer.html' %}
</body>