{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7cc1d6c564.js" crossorigin="anonymous"></script>
    <script src="{% static 'users/javascript/passwordactions.js'%}" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">

    <title>Registro-Escuela infantil Ibis</title>
</head>
<body>
    {% include 'core/html/bases/header.html' %}
    <main>
        <h1 id="pagetitle">Formulario de registro</h1>

        <div id="alerta" style="display:none"><p id="message"></p></div> <!-- Muestra información-->
        <div id="formcontainer">
            <form method="POST" onsubmit="/users/register">
            {% csrf_token %}
                <!-- En el formulario se encuentran campos deshabilitados ya que son los que un usuario no puede cambiar, como su dni o su
                nombre. Sin embargo, otros si que son modificables debido a que un usuario puede cambiar de email, telefono o dirección -->
                <fieldset id="code">
                
                    <legend>Código de centro</legend>
                    <p id="whattodo">En la siguiente casilla debe introducir el código de 10 dígitos que se le ha hecho llegar desde el centro</p>
                    <p>
                        {{form.code.label_tag}}
                        {{form.code}}
                    </p>
                    
                </fieldset>
                <fieldset id="account">
                    <legend>Datos de la cuenta</legend>
                    <p id="aclaration">Anote la casilla de nombre de usuario, ya que es con el cual podrá acceder a su zona de usuario</p>
                    <p>
                        {{form.username.label_tag}}
                        {{form.username}}
                    </p>
                    <p>
                        {{form.password1.label_tag}}
                        {{form.password1}}<button type="button" id="see_pass" onclick=revealpass(this.id) ><i class="far fa-eye"></i></button>
                    </p>
                    <p>
                        {{form.password2.label_tag}}
                        {{form.password2}}
                    </p>
                    
                </fieldset>
                <fieldset id="personal">
                    <legend>Datos personales</legend>
                
                    <p>
                        {{form.dni.label_tag}}<br>
                        {{form.dni}}
                    </p>
                    <p>
                        {{form.name.label_tag}}
                        {{form.name}}
                    </p>
                    <p>
                        {{form.lastname.label_tag}}
                        {{form.lastname}}
                    </p>
                    <p>
                        {{form.birthdate.label_tag}}
                        {{form.birthdate}}
                    </p>
                    <p>
                        {{form.viatype.label_tag}}
                        {{form.viatype}}
                        <!-- <span><i class="fas fa-caret-down"></i></span> -->
                    </p>
                    <p>
                        {{form.vianame.label_tag}}
                        {{form.vianame}}
                    </p>
                    <p>
                        {{form.vianumber.label_tag}}
                        {{form.vianumber}}
                    </p>
                    <p>
                        {{form.floor.label_tag}}<br>
                        {{form.floor}}
                    </p>
                    <p>
                        {{form.letter.label_tag}}<br>
                        {{form.letter}}
                    </p>
                    <p>
                        {{form.cp.label_tag}}<br>
                        {{form.cp}}
                    </p>
                    <p>
                        {{form.city.label_tag}}
                        {{form.city}}
                    </p>
                    
                </fieldset>
                <fieldset id="contact">
                    <legend>Datos de contacto</legend>
                
                    <p>
                        {{form.email.label_tag}}
                        {{form.email}}
                    </p>
                    <p>
                        {{form.phonenumber.label_tag}}
                        {{form.phonenumber}}
                    </p>
                    
                </fieldset>
                <fieldset id="image">
                    <legend>Imagen de usuario: </legend>
                    <div>
                    <p>¿Quiere añadir una imagen de perfil? Siéntase libre de hacerlo</p>
                        {{form.userimage.label_tag}}
                        {{form.userimage}}
                    <div>
                </fieldset>
                <fieldset id="termsandconditions">
                    <legend>Consentimientos</legend>
                    {{form.privacitypolicy}} {{form.privacitypolicy.label_tag}}<br>
                    {{form.terms}} {{form.terms.label_tag}}
                    <p>Deseo recibir información acerca de las novedades y eventos de Ibis</p>
                    {{form.communications}}
                </fieldset>
                
                <p>
                    <button type="submit" class="clicker"><span>Darse de alta</span></button>
                </p>
                
            </form>
        </div>
    </main>
    {% include 'core/html/bases/footer.html' %}
</body>
<script src="{% static 'users/javascript/registrationactions.js'%}" crossorigin="anonymous"></script>
